*{
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Heading */
h1{
    background-color: black;
    color: #fff;
    height: 4rem;
    line-height: 4rem;
}

/* Choices */
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    margin-top: 3rem;
}
.choice{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height: 145px;
    width: 145px;
    border-radius: 50%;
    object-fit: cover;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}

/* Score board */
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 4.5rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
.user-score p, .comp-score p{
    font-size: 3rem;
}

/* Message */
.msg-container{
    margin-top: 3rem;
}
.msg-container p{
    font-size: 2rem;
    background-color: black;
    color: #fff;
    display: inline;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}